@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? familia = Kalam &family= Kanit:ital@1 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* 
familia tipográfica: 'Kalam', cursiva; titulos
familia tipográfica: 'Kanit', sans-serif; 
*/
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

header {
  background-color: #dab88b;
  background: linear-gradient(222deg, rgba(218, 184, 139, 0.986432) 2%, #e0dba2 100%);
  position: sticky;
  top: 0;
  z-index: 100; }
  header img {
    animation: rotate-scale-up 0.65s linear both; }
  header div.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    font-family: 'Kalam', cursiva; }
  header nav {
    background-color: #f3e9dd;
    padding: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
    header nav ul {
      font-weight: 700; }
      header nav ul li {
        border-radius: 5px;
        margin-right: 10px; }
        header nav ul li:hover {
          transform: scale(1.2);
          background-color: rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px gray; }

.navbar-light .navbar-nav .nav-link {
  color: black; }

main {
  background-color: #fdf6ec;
  background: linear-gradient(0deg, rgba(253, 246, 236, 0.964023) 47%, #e0dba2 100%); }
  main div.col {
    transition: all 0.5s; }
  main div.card {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Kanit', sans-serif; }
    main div.card a, main div.card footer section a a.btn-insta, footer section a main div.card a.btn-insta, main div.card footer section a a.btn-face, footer section a main div.card a.btn-face, main div.card footer section a a.btn-wsp, footer section a main div.card a.btn-wsp {
      color: #0a0a0a;
      border: 2px solid black;
      border-radius: 10px;
      background-color: beige;
      text-shadow: gray 8px 8px 8px;
      font-size: 160%;
      text-decoration: none;
      position: absolute;
      width: auto;
      height: auto; }
    main div.card .card-body {
      background-color: #f3e9dd; }
  main section {
    background-color: #b7cadb;
    background: radial-gradient(circle, #b7cadb 37%, rgba(245, 245, 245, 0.98083) 100%);
    display: flex;
    justify-content: space-evenly; }
    main section article {
      border-radius: 10px;
      box-shadow: 2px 2px gray;
      padding: 5px 10px;
      margin: 20px 0;
      display: inline-block;
      font-family: 'Kanit', sans-serif;
      transition: all 0.5s; }
      main section article:hover {
        transform: scale(1.1);
        box-shadow: 2px 3px gray; }
      main section article a, main footer section article a a.btn-insta, footer main section article a a.btn-insta, main footer section a article a.btn-insta, footer main section a article a.btn-insta, main footer section article a a.btn-face, footer main section article a a.btn-face, main footer section a article a.btn-face, footer main section a article a.btn-face, main footer section article a a.btn-wsp, footer main section article a a.btn-wsp, main footer section a article a.btn-wsp, footer main section a article a.btn-wsp {
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none; }

@media only screen and (min-width: 768px) {
  div.col:hover {
    transform: scale(1.1); } }

footer {
  background-color: #b7cadb;
  background: radial-gradient(circle, #b7cadb 37%, rgba(245, 245, 245, 0.98083) 100%); }
  footer section {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    font-size: 40px; }
    footer section a, footer section a a.btn-insta, footer section a a.btn-face, footer section a a.btn-wsp {
      transition: all 0.5s; }
      footer section a:hover, footer section a a.btn-insta:hover, footer section a a.btn-face:hover, footer section a a.btn-wsp:hover {
        transform: scale(1.2) translateY(-10px); }
      footer section a a.btn-insta {
        color: red; }
      footer section a a.btn-face {
        color: blue; }
      footer section a a.btn-wsp {
        color: green; }
