
footer{
    background-color: rgb(183, 202, 219);
    background: radial-gradient(circle, rgba(183,202,219,1) 37%, rgba(245,245,245,0.9808298319327731) 100%);
    section{
        @include flex-space_evenly;
        padding: 20px 0;
        font-size: 40px;
        a {
            transition: all 0.5s;
            &:hover{
                transform: scale(1.2) translateY(-10px);
            }
             a.btn-insta {
            @extend a;
            color: red;
            }
            a.btn-face {
                @extend a;
                color: blue;
            }
            a.btn-wsp {
                @extend a;
                color: green;
            }
        }
       

    }
}