


  main{
    background-color: rgb(253, 246, 236);
    background: linear-gradient(0deg, rgba(253,246,236,0.9640231092436975) 47%, rgba(224,219,162,1) 100%);
    div.col {
        transition: all 0.5s;
    }
    div.card {
        border-radius: map-get($estilos, redondeado);
        box-shadow: map-get($estilos, sombra);
        font-family: 'Kanit', sans-serif;
        .card-img-overlay {
            margin: auto;
        }
            a{
                width: 140px;
                height: auto;
                float: left;
                transition: .5s linear;
                position: relative;
                display: block;
                overflow: hidden;
                padding: 15px;
                text-align: center;
                margin: 0 5px;
                background: transparent;
                text-transform: uppercase;
                font-weight: 900;
                text-shadow: black 6px 6px 8px;
              
              &:before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                height: 4px;
                width: 100%;
                border-bottom: 4px solid transparent;
                border-left: 4px solid transparent;
                box-sizing: border-box;
                transform: translateX(100%);
              }
              
              &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                border-top: 4px solid transparent;
                border-right: 4px solid transparent;
                box-sizing: border-box;
                transform: translateX(-100%);
              }
              
              &:hover {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
              }
              
                &:hover:before {
                border-color: #262626;
                height: 100%;
                transform: translateX(0);
                transition: .3s transform linear, .3s height linear .3s;
              }
              
              &:hover:after {
                border-color: #262626;
                height: 100%;
                transform: translateX(0);
                transition: .3s transform linear, .3s height linear .5s;
              }
        }
        .card-body {
            background-color: rgb(243, 233, 221);
            .btn-primary {
                background-color: bisque;
            }
        }
    }
        section{
        background-color: rgb(183, 202, 219);
        background: radial-gradient(circle, rgba(183,202,219,1) 37%, rgba(245,245,245,0.9808298319327731) 100%);
        @include flex-space_evenly;
        article{
            margin: 20px 0;
            position: relative;
            font-size: 17px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1em 2.5em;
            display: inline-block;
            border-radius: 6em;
            transition: all .2s;
            border: none;
            font-family: inherit;
            font-weight: 500;
            color: black;
            background-color: white;
           
            &:hover{
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                }

                &:active {
                    transform: translateY(-1px);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                   }
                   
                   &::after {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    border-radius: 100px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: all .4s;
                   }
                   
                   &::after {
                    background-color: #fff;
                   }
                   
                   &:hover::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                   }
                a {
                    color: black;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: none;
                }
            }    
        }
    }
  


  @media only screen and (min-width: 768px) {

    div.col:hover {
        transform: scale(1.1);
    }
}