
@keyframes jello-horizontal {
    0% {
            transform: scale3d(1, 1, 1);
    }
    30% {
            transform: scale3d(1.25, 0.75, 1);
    }
    40% {
            transform: scale3d(0.75, 1.25, 1);
    }
    50% {
            transform: scale3d(1.15, 0.85, 1);
    }
    65% {
            transform: scale3d(0.95, 1.05, 1);
    }
    75% {
            transform: scale3d(1.05, 0.95, 1);
    }
    100% {
            transform: scale3d(1, 1, 1);
    }
  }

  main{
    background-color: rgb(253, 246, 236);
    background: linear-gradient(0deg, rgba(253,246,236,0.9640231092436975) 47%, rgba(224,219,162,1) 100%);
    div.card {
        border-radius: map-get($estilos, redondeado);
        box-shadow: map-get($estilos, sombra);
        font-family: 'Kanit', sans-serif;
        animation: jello-horizontal 0.9s both;
        animation-delay: 1.5s;
        a{
            color: rgb(10, 10, 10);
            border: 2px solid black;
            border-radius: map-get($estilos, redondeado);
            background-color: beige;
            text-shadow: gray 8px 8px 8px;
            font-size: 160%;
            text-decoration: none;
            position: absolute;
            width: auto;
            height: auto;
        }
    }
        section{
        background-color: rgb(183, 202, 219);
        background: radial-gradient(circle, rgba(183,202,219,1) 37%, rgba(245,245,245,0.9808298319327731) 100%);
        @include flex-space_evenly;
        article{
            border-radius: map-get($estilos, redondeado);
            box-shadow: 2px 2px gray;
            padding: 5px 10px;
            margin: 20px 0;
            display: inline-block;
            font-family: 'Kanit', sans-serif;
            transition: all 0.5s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 2px 3px gray;
                }
                a {
                    color: black;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: none;
                }
            }    
        }
    }
  

  @media only screen and (min-width: 768px) {

    div.col:hover {
        transform: scale(0.95);
    }
}