@import url('https://fonts.googleapis.com/css2? familia = Kalam &family= Kanit:ital@1 & display=swap');
/* 
familia tipográfica: 'Kalam', cursiva; titulos
familia tipográfica: 'Kanit', sans-serif; 
*/
@import "header";
@import "main";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


