$estilos:(
    sombra: 5px 5px 10px rgba(0, 0, 0, 0.3),
    redondeado: 10px,
);
@mixin flex-space_evenly{
    display: flex;
    justify-content: space-evenly;
}

@import "generales";
@import "fuentes";
@import "header";
@import "main";
@import "footer";





